.otpScreen {
  width: 100%;
  height: 100vh;
}

.otpContainer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.otpContainer input {
  padding: 5px;
  width: 100%;
}
